{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title%}

{% block main-content %}

<div class="container mt-3">
  <br>
  <h2 class="text-center">About Us</h2>
  <br>
  <div class="row container">
              <p class="fs-4 text-center">Welcome to Coffeehub your ultimate companion for everything coffee! 
              Whether you're a seasoned barista, a casual coffee drinker, or someone just beginning to explore the rich world of coffee, we've designed this app to bring the best coffee experience right to your fingertips.
              At BrewMaster, our passion for coffee goes beyond the cup. We believe that every cup of coffee has a story from the origin of the beans to the brewing method and the people who make it.
              Our mission is to help you discover these stories and create your own, one sip at a time.</p>
  </div>

{% endblock main-content %}